// Custom styles.
//文章摘要显示图片,点进全文不显示图片
//图片外部的容器方框
.out-img-topic {
  display: block;
  max-height:300px;
  margin-bottom: 24px;
  overflow: hidden;
}



// 主页文章添加阴影效果
 .post {
   margin-top: 0px;
   margin-bottom: 40px;
   padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

// 内容宽度++
/*
.header{
    width: 80%;
    +tablet() {
        width: 100%;
    }
    +mobile() {
        width: 100%;
    }
}
.container .main-inner {
    width: 80%;
    +tablet() {
        width: 100%;
    }
    +mobile() {
        width: 100%;
    }
}
.content-wrap {
    width: calc(100% - 260px);
    +tablet() {
        width: 100%;
    }
    +mobile() {
        width: 100%;
    }
}

*/
